{
  "extends": ["eslint-config-unjs"],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" },
    ],
    "unicorn/prefer-module": 0,
    "unicorn/prefer-node-protocol": 0,
    "unicorn/import-style": 0,
    "unicorn/no-null": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "indent": 0,
    "unicorn/prefer-string-replace-all": 0
  }
}
